.chat {
  flex: 2;
  border-left: 1px solid #dddddd35;
  border-right: 1px solid #dddddd35;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: right 0.5s ease;

  .load-chat {
    text-align: center;
    margin: auto 0;
  }

  .top {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dddddd35;

    .user {
      display: flex;
      align-items: center;
      gap: 20px;

      .go-back {
        background-color: transparent;
        font-size: 42px;
        border: none;
        color: #fff;
        cursor: pointer;
      }
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
      }

      .texts {
        display: flex;
        flex-direction: column;
        gap: 5px;

        span {
          font-size: 18px;
          font-weight: 500;
        }
        p {
          font-size: 12px;
          font-weight: 300;
          color: #a5a5a5;
        }
      }
    }
    .icons {
      display: flex;
      gap: 20px;

      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .isMobile-chat {
    position: fixed;
    right: -100vw;
    top: 0;
    width: 100%;
  }
  .show-chat {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
  }
}
