.list {
  flex: 1;
  display: flex;
  flex-direction: column;
  transition: left 0.5s ease;
}

@media screen and (max-width: 576px) {
  .list {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
  }
  .remove-list {
    left: -100vw;
  }
}
